// Settings
link_color = #4a689a
base_font_size = 14px


// Generic Typography
typo()
    font-size base_font_size
    line-height 1.5
    a
        color link_color
        &:hover
            color darken(link_color, 20%)
    h1, h2, h3, h4, h5, h6
        margin-top 0

// Activate
html
    typo()